/* Put any custom CSS rules here */

p {
	max-width: 600px;
	margin: 0 auto 15px auto; 
}

img {
	margin: 0 auto 15px auto; 	
	display: block;
}

h1 {
	max-width: 600px;
	margin: 0 auto 15px auto; 
}

h3  {
	max-width: 600px;
	margin: 0 auto 15px auto; 
}